.project__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background-color: var(--white);
    border: var(--primary) solid 2px;
    padding: 40px 15px 30px;
    max-width: 300px;
    border-radius: 20px;
}

.project__link > img {
    width: 80%;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
    object-position: top;
    border: var(--black) solid 2px;
}

.project__link-text {
    text-align: center;
}
.project__link-text > h5 {
    margin-bottom: 0;
    color: var(--primary);
}

.project__link-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 300px;
    padding-top: 15px;
}

.project__link-links > a {
    background-color: var(--primary-light);
    color: var(--white);
    text-decoration: none;
    padding: 8px 10px;
    font-size: 13px;
    width: 125px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid var(--primary);
}

.project__link-links > a:hover, .project__link-links > a:focus {
    transform: scale(.99);
    transition: .5s;
}